@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.cdnfonts.com/css/poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
                                                
}

header {
    position: fixed;
    width: 100%;
    z-index: 999;
     
}

.logo-girl {
    background-image: url("./../images/comb.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    height: 58px;
    width: 58px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.logo {
    height: 58px;
    width: 215px;
    margin-left: 10px;
}
.logo-bg {
    display: flex;
    align-items: center;
    width: fit-content;
}

span.logo {
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    background-image: linear-gradient(90deg, #FF1493, #00BFFF);
    background-clip: text;
    -webkit-background-clip: text; /* For Webkit compatibility */
    color: transparent;
    position: relative;
    left: -25px;
    background-color: rgba(255, 255, 255, 0.8);
}


nav {
    display: flex;
    background-color:  rgba(255, 255, 255, 0.8);
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
}

.links::after {
    position: absolute; /* Change to absolute */
    content: "";
    height: 3px;
    background-color: blueviolet;
    bottom: 0px;
    left: 0; /* Adjust the left property */
    width: 0;
    transition: width 0.5s ease-out; /* Adjust the transition properties */
}


nav ul {
     
    height: 60px;
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 10px;
} 

nav ul li {
    position: relative;
}

nav ul li a {
    color: #333333;
    text-decoration: none;
    font-size: 1.45rem;
    position: relative;
    padding-right: 50px;
     
}

nav ul li a:hover {
    color: blue;
    font-weight: 400;
}

nav ul li a:hover::after {
    width: calc(100% - 50px);
}


 

h1{
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:  60px;
    color:white;
}
.rowcontainer{
background-color: #E8E8E8;

}

 .row{
    margin:10px;
    display: grid;
    grid-template-columns: repeat(2,minmax(250px,1fr));
    justify-content: space-between;
    align-items: center;

    
}

.service-box img{
    height: 300px;
    width: 300px; 
} 

.heading-container{
    width:100%;
    padding-top: 60px;
    background-color: black;
} 

.col-sm-2{
    width: 50%;
    background-color:black;
    padding-top:30px;
    padding-left:30px;
    padding-bottom: 10px;
    position: relative;
    left: 150px;
}

/* Footer */

.footer-container{
    height: 40vh;
    position: relative;
}
 
 footer{
     
    height: 100%;
    width: 100%;
    background-color: rgb(33, 33, 33); 
    color: white;
    position: relative;
 }

 .gmail1{
    text-decoration: none;
     
}

.gmail2{
    text-decoration: none;
    color: #d2d2d2;
}

.gmail2:hover{
color: lightblue;
}
 

 .box-container{
    display: flex;
    height: 100%;
 }

 .box1{
     
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(33, 33, 33); 
    text-align: justify center;
    padding-left: 7rem;
    position: relative;
 }

    .box1-heading{
        font-size: 1.25rem;
        padding-bottom: 0.4rem;
    }

    .box1-info{
        color: #d2d2d2;
        font-size: large;
    }


    .box2{
     
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        position: relative;
         background-color:rgb(33, 33, 33); 
         
     }

     .box2-heading{
        font-size: 1.22rem;
        position: absolute;
        top: 17%;
        left: 50%;
    }

   


.social-media ul li a img{
    margin-top: 0.5rem;
    height: 2rem;
    width: 2rem;
    
}

.social-media ul li {
    list-style: none;
    margin: 0 0.2rem;
}

.social-media ul{
    display: flex;
    position: absolute;
    top: 25%;
    left: 49%
}

 .copyright{
     position: absolute;
      bottom: 0.5rem;
      transform: translateX(-50%);
    font-family: 'Lato', sans-serif;
 }
body{
    display: flex;
    flex-direction: column;
    background-color: #E8E8E8;
}


/* Contact  */
.contact-box{
    width: 37rem;
    background-color:#F0F0F0;
    box-shadow: 0 0 20px 0 #999;
     
}

.container{
    position: relative;
    top: 10px;
    background-color: #E8E8E8 ;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.input-field{
    width:15rem;
    height: 45px;
    margin: 20px 10px;
     border: 1px solid #777;
     border-radius: 7px;
     outline:none; 
     background-color: #f4f3f3;
     text-align: left;
     text-indent: 1rem;
      
}
 
 

.input-field-message{
    width:31rem;
    height: 150px;
    margin: 20px 0;
     border: 1px solid #777;
     border-radius: 10px;
     outline:none; 
     background-color: #f4f3f3;
     text-align: left;
     text-indent: 1rem;
     padding-top: 0.5rem;

}

.textarea-field{
    height: 150px;
    width: 100%;
     padding-top: 10px; 
}

.btn{
    border-radius: 10px;
    padding: 10px;
    background-color: hsl(212, 80%, 70%);
    position: relative;
    left:12.1rem;
    font-size: 1rem;
    border:none;
    cursor:pointer;
    width: 20%;
}

.btn:hover {
    background-color: hsl(212, 80%, 50%);  
    color: white;  
      
  }

.information{
    position: absolute;
     top: 5rem;
     left: 7rem;
    
}
 .info-3{
    margin: 1.125rem 0;
 }
 
.gmail{
    text-decoration: none;
}

.row{
    position: relative;
     
}

.social ul li a img{
    margin-top: 0.5rem;
    height: 2rem;
    width: 2rem;
    
}

.social ul li {
 list-style: none;
    margin: 0 0.2rem;
}

.social ul{
    display: flex;
    position:relative;

}


h3{
    position: relative;
     
}
